In [2]:
import psycopg2

In [17]:
host="157.230.240.246"
database="learn_psycopg2"
user="iykra_trainee"
password="passwordiykra"

In [46]:
#conn.close()
conn = psycopg2.connect(host=host,database=database, user=user, password=password)
cur = conn.cursor()

In [25]:
cur.execute("""
SELECT table_schema,table_name
FROM information_schema.tables
ORDER BY table_schema,table_name;""")
cur.fetchall()

[('information_schema', 'administrable_role_authorizations'),
 ('information_schema', 'applicable_roles'),
 ('information_schema', 'attributes'),
 ('information_schema', 'character_sets'),
 ('information_schema', 'check_constraint_routine_usage'),
 ('information_schema', 'check_constraints'),
 ('information_schema', 'collation_character_set_applicability'),
 ('information_schema', 'collations'),
 ('information_schema', 'column_domain_usage'),
 ('information_schema', 'column_options'),
 ('information_schema', 'column_privileges'),
 ('information_schema', 'columns'),
 ('information_schema', 'column_udt_usage'),
 ('information_schema', 'constraint_column_usage'),
 ('information_schema', 'constraint_table_usage'),
 ('information_schema', 'data_type_privileges'),
 ('information_schema', 'domain_constraints'),
 ('information_schema', 'domains'),
 ('information_schema', 'domain_udt_usage'),
 ('information_schema', 'element_types'),
 ('information_schema', 'enabled_roles'),
 ('information_schema', 'foreign_data_wrapper_options'),
 ('information_schema', 'foreign_data_wrappers'),
 ('information_schema', 'foreign_server_options'),
 ('information_schema', 'foreign_servers'),
 ('information_schema', 'foreign_table_options'),
 ('information_schema', 'foreign_tables'),
 ('information_schema', 'information_schema_catalog_name'),
 ('information_schema', 'key_column_usage'),
 ('information_schema', 'parameters'),
 ('information_schema', '_pg_foreign_data_wrappers'),
 ('information_schema', '_pg_foreign_servers'),
 ('information_schema', '_pg_foreign_table_columns'),
 ('information_schema', '_pg_foreign_tables'),
 ('information_schema', '_pg_user_mappings'),
 ('information_schema', 'referential_constraints'),
 ('information_schema', 'role_column_grants'),
 ('information_schema', 'role_routine_grants'),
 ('information_schema', 'role_table_grants'),
 ('information_schema', 'role_udt_grants'),
 ('information_schema', 'role_usage_grants'),
 ('information_schema', 'routine_privileges'),
 ('information_schema', 'routines'),
 ('information_schema', 'schemata'),
 ('information_schema', 'sequences'),
 ('information_schema', 'sql_features'),
 ('information_schema', 'sql_implementation_info'),
 ('information_schema', 'sql_languages'),
 ('information_schema', 'sql_packages'),
 ('information_schema', 'sql_parts'),
 ('information_schema', 'sql_sizing'),
 ('information_schema', 'sql_sizing_profiles'),
 ('information_schema', 'table_constraints'),
 ('information_schema', 'table_privileges'),
 ('information_schema', 'tables'),
 ('information_schema', 'triggered_update_columns'),
 ('information_schema', 'triggers'),
 ('information_schema', 'udt_privileges'),
 ('information_schema', 'usage_privileges'),
 ('information_schema', 'user_defined_types'),
 ('information_schema', 'user_mapping_options'),
 ('information_schema', 'user_mappings'),
 ('information_schema', 'view_column_usage'),
 ('information_schema', 'view_routine_usage'),
 ('information_schema', 'views'),
 ('information_schema', 'view_table_usage'),
 ('pg_catalog', 'pg_aggregate'),
 ('pg_catalog', 'pg_am'),
 ('pg_catalog', 'pg_amop'),
 ('pg_catalog', 'pg_amproc'),
 ('pg_catalog', 'pg_attrdef'),
 ('pg_catalog', 'pg_attribute'),
 ('pg_catalog', 'pg_authid'),
 ('pg_catalog', 'pg_auth_members'),
 ('pg_catalog', 'pg_available_extensions'),
 ('pg_catalog', 'pg_available_extension_versions'),
 ('pg_catalog', 'pg_cast'),
 ('pg_catalog', 'pg_class'),
 ('pg_catalog', 'pg_collation'),
 ('pg_catalog', 'pg_constraint'),
 ('pg_catalog', 'pg_conversion'),
 ('pg_catalog', 'pg_cursors'),
 ('pg_catalog', 'pg_database'),
 ('pg_catalog', 'pg_db_role_setting'),
 ('pg_catalog', 'pg_default_acl'),
 ('pg_catalog', 'pg_depend'),
 ('pg_catalog', 'pg_description'),
 ('pg_catalog', 'pg_enum'),
 ('pg_catalog', 'pg_extension'),
 ('pg_catalog', 'pg_foreign_data_wrapper'),
 ('pg_catalog', 'pg_foreign_server'),
 ('pg_catalog', 'pg_foreign_table'),
 ('pg_catalog', 'pg_group'),
 ('pg_catalog', 'pg_index'),
 ('pg_catalog', 'pg_indexes'),
 ('pg_catalog', 'pg_inherits'),
 ('pg_catalog', 'pg_language'),
 ('pg_catalog', 'pg_largeobject'),
 ('pg_catalog', 'pg_largeobject_metadata'),
 ('pg_catalog', 'pg_locks'),
 ('pg_catalog', 'pg_namespace'),
 ('pg_catalog', 'pg_opclass'),
 ('pg_catalog', 'pg_operator'),
 ('pg_catalog', 'pg_opfamily'),
 ('pg_catalog', 'pg_pltemplate'),
 ('pg_catalog', 'pg_prepared_statements'),
 ('pg_catalog', 'pg_prepared_xacts'),
 ('pg_catalog', 'pg_proc'),
 ('pg_catalog', 'pg_range'),
 ('pg_catalog', 'pg_rewrite'),
 ('pg_catalog', 'pg_roles'),
 ('pg_catalog', 'pg_rules'),
 ('pg_catalog', 'pg_seclabel'),
 ('pg_catalog', 'pg_seclabels'),
 ('pg_catalog', 'pg_settings'),
 ('pg_catalog', 'pg_shadow'),
 ('pg_catalog', 'pg_shdepend'),
 ('pg_catalog', 'pg_shdescription'),
 ('pg_catalog', 'pg_shseclabel'),
 ('pg_catalog', 'pg_stat_activity'),
 ('pg_catalog', 'pg_stat_all_indexes'),
 ('pg_catalog', 'pg_stat_all_tables'),
 ('pg_catalog', 'pg_stat_bgwriter'),
 ('pg_catalog', 'pg_stat_database'),
 ('pg_catalog', 'pg_stat_database_conflicts'),
 ('pg_catalog', 'pg_statio_all_indexes'),
 ('pg_catalog', 'pg_statio_all_sequences'),
 ('pg_catalog', 'pg_statio_all_tables'),
 ('pg_catalog', 'pg_statio_sys_indexes'),
 ('pg_catalog', 'pg_statio_sys_sequences'),
 ('pg_catalog', 'pg_statio_sys_tables'),
 ('pg_catalog', 'pg_statio_user_indexes'),
 ('pg_catalog', 'pg_statio_user_sequences'),
 ('pg_catalog', 'pg_statio_user_tables'),
 ('pg_catalog', 'pg_statistic'),
 ('pg_catalog', 'pg_stat_replication'),
 ('pg_catalog', 'pg_stats'),
 ('pg_catalog', 'pg_stat_sys_indexes'),
 ('pg_catalog', 'pg_stat_sys_tables'),
 ('pg_catalog', 'pg_stat_user_functions'),
 ('pg_catalog', 'pg_stat_user_indexes'),
 ('pg_catalog', 'pg_stat_user_tables'),
 ('pg_catalog', 'pg_stat_xact_all_tables'),
 ('pg_catalog', 'pg_stat_xact_sys_tables'),
 ('pg_catalog', 'pg_stat_xact_user_functions'),
 ('pg_catalog', 'pg_stat_xact_user_tables'),
 ('pg_catalog', 'pg_tables'),
 ('pg_catalog', 'pg_tablespace'),
 ('pg_catalog', 'pg_timezone_abbrevs'),
 ('pg_catalog', 'pg_timezone_names'),
 ('pg_catalog', 'pg_trigger'),
 ('pg_catalog', 'pg_ts_config'),
 ('pg_catalog', 'pg_ts_config_map'),
 ('pg_catalog', 'pg_ts_dict'),
 ('pg_catalog', 'pg_ts_parser'),
 ('pg_catalog', 'pg_ts_template'),
 ('pg_catalog', 'pg_type'),
 ('pg_catalog', 'pg_user'),
 ('pg_catalog', 'pg_user_mapping'),
 ('pg_catalog', 'pg_user_mappings'),
 ('pg_catalog', 'pg_views'),
 ('public', 'part_drawings'),
 ('public', 'part_drawings_1'),
 ('public', 'parts'),
 ('public', 'parts_1'),
 ('public', 'vendor_parts'),
 ('public', 'vendor_parts_1'),
 ('public', 'vendors'),
 ('public', 'vendors_1'),
 ('public', 'vendors_coba')]

In [11]:
def create_tables(conn,cur):
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE vendors_coba_1 (
            vendor_id SERIAL PRIMARY KEY,
            vendor_name VARCHAR(%s) NOT NULL
        )
        """ % ('255'))
    for command in commands:
        cur.execute(command)
        conn.commit()
        cur.close()

In [14]:
def create_tables(conn,cur):
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE vendors_1 (
            vendor_id SERIAL PRIMARY KEY,
            vendor_name VARCHAR(255) NOT NULL
        )
        """,
        """ CREATE TABLE parts_1 (
                part_id SERIAL PRIMARY KEY,
                part_name VARCHAR(255) NOT NULL
                )
        """,
        """
        CREATE TABLE part_drawings_1 (
                part_id INTEGER PRIMARY KEY,
                file_extension VARCHAR(5) NOT NULL,
                drawing_data BYTEA NOT NULL,
                FOREIGN KEY (part_id)
                REFERENCES parts (part_id)
                ON UPDATE CASCADE ON DELETE CASCADE
        )
        """,
        """
        CREATE TABLE vendor_parts_1 (
                vendor_id INTEGER NOT NULL,
                part_id INTEGER NOT NULL,
                PRIMARY KEY (vendor_id , part_id),
                FOREIGN KEY (vendor_id)
                    REFERENCES vendors (vendor_id)
                    ON UPDATE CASCADE ON DELETE CASCADE,
                FOREIGN KEY (part_id)
                    REFERENCES parts (part_id)
                    ON UPDATE CASCADE ON DELETE CASCADE
        )
        """)
    for command in commands:
        cur.execute(command)
    cur.close()
    conn.commit()

In [15]:
create_tables(conn,cur)

In [22]:
def insert_vendor(vendor_name,conn,cur):
    """ insert a new vendor into the vendors table """
    sql = """INSERT INTO vendors(vendor_name)
             VALUES(%s) RETURNING vendor_id;"""
    vendor_id = None
    try:
        # execute the INSERT statement
        cur.execute(sql, (vendor_name,))
        # get the generated id back
        vendor_id = cur.fetchone()[0]
        # commit the changes to the database
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
 
    return vendor_id

In [40]:
def insert_vendor_list(vendor_list,conn,cur):
    """ insert multiple vendors into the vendors table  """
    sql = "INSERT INTO vendors(vendor_name) VALUES(%s)"
    try:
        # execute the INSERT statement
        cur.executemany(sql,vendor_list)
        # commit the changes to the database
        conn.commit()
        # close communication with the database
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [48]:
# insert one vendor
#insert_vendor("Iykra Corp.",conn,cur)
# insert multiple vendors
insert_vendor_list([
    ('Garuda Terbang Inc.',),
    ('Dodol Co Ltd.',)
],conn,cur)

In [99]:
#sql = 'INSERT INTO vendors(vendor_name) VALUES('Garuda Terbang 1 Inc.','Dodol 1 Co Ltd.')' % ()
s = ['Garuda Terbang 20 Inc.','Dodol 20 Co Ltd.']
sql = "INSERT INTO vendors(%s) VALUES %s" % (",".join("('"+x+"')" for x in s))
cur.execute(sql)
conn.commit()
#("Garuda Terbang 5 Inc."),("Garuda Terbang 6 Inc.")

In [112]:
syntax = "select * from vendors"
cur.execute(syntax)
a = cur.fetchall()
a_id = [x[0] for x in a]
a_vendornm = [x[1] for x in a]

In [116]:
import pandas as pd

In [124]:
gepeng4 = pd.DataFrame({'id' : a_id, 'vendor_name' : a_vendornm})
gepeng4.drop_duplicates(['vendor_name'],inplace = False)

    id                    vendor_name
0   16         AKM Semiconductor Inc.
1   17            Asahi Glass Co Ltd.
2   18         Daikin Industries Ltd.
3   19    Dynacast International Inc.
4   20       Foster Electric Co. Ltd.
5   21  Murata Manufacturing Co. Ltd.
6   15                        3M Corp
19  34                    Iykra Corp.
20  35          Garuda Indonesia Inc.
21  36                  Fanta Co Ltd.
22  37                     Sosro Ltd.
23  38                   Pop Mie Inc.
24  39                Mie Gelas. Ltd.
25  40               GoClean Co. Ltd.
26  41            Garuda Terbang Inc.
27  42                  Dodol Co Ltd.
28  43          Garuda Terbang 1 Inc.
30  45          Garuda Terbang 2 Inc.
31  46         Garuda Terbang 10 Inc.
32  47               Dodol 10 Co Ltd.
33  48         Garuda Terbang 15 Inc.
34  49               Dodol 15 Co Ltd.
37  52         Garuda Terbang 20 Inc.
38  53               Dodol 20 Co Ltd.

In [125]:
gepeng4

    id                    vendor_name
0   16         AKM Semiconductor Inc.
1   17            Asahi Glass Co Ltd.
2   18         Daikin Industries Ltd.
3   19    Dynacast International Inc.
4   20       Foster Electric Co. Ltd.
5   21  Murata Manufacturing Co. Ltd.
6   15                        3M Corp
7   22         AKM Semiconductor Inc.
8   23            Asahi Glass Co Ltd.
9   24         Daikin Industries Ltd.
10  25    Dynacast International Inc.
11  26       Foster Electric Co. Ltd.
12  27  Murata Manufacturing Co. Ltd.
13  28         AKM Semiconductor Inc.
14  29            Asahi Glass Co Ltd.
15  30         Daikin Industries Ltd.
16  31    Dynacast International Inc.
17  32       Foster Electric Co. Ltd.
18  33  Murata Manufacturing Co. Ltd.
19  34                    Iykra Corp.
20  35          Garuda Indonesia Inc.
21  36                  Fanta Co Ltd.
22  37                     Sosro Ltd.
23  38                   Pop Mie Inc.
24  39                Mie Gelas. Ltd.
25  40               GoClean Co. Ltd.
26  41            Garuda Terbang Inc.
27  42                  Dodol Co Ltd.
28  43          Garuda Terbang 1 Inc.
29  44          Garuda Terbang 1 Inc.
30  45          Garuda Terbang 2 Inc.
31  46         Garuda Terbang 10 Inc.
32  47               Dodol 10 Co Ltd.
33  48         Garuda Terbang 15 Inc.
34  49               Dodol 15 Co Ltd.
35  50         Garuda Terbang 15 Inc.
36  51               Dodol 15 Co Ltd.
37  52         Garuda Terbang 20 Inc.
38  53               Dodol 20 Co Ltd.

In [77]:
#s = ['Garuda Terbang Inc.','Dodol Co Ltd.']
#" ".join(x for x in tuple(s))
#tuple(s
s = ['Garuda Terbang Inc.','Dodol Co Ltd.']

[('Garuda Terbang Inc.', 'Dodol Co Ltd.')]

In [62]:
column_value = ['Garuda Terbang Inc.','Dodol Co Ltd.']
tuple(column_value)

TypeError: 'tuple' object is not callable

In [34]:
def update_vendor(vendor_id, vendor_name,conn,cur):
    """ update vendor name based on the vendor id """
    sql = """ UPDATE vendors
                SET vendor_name = %s
                WHERE vendor_id = %s"""
    updated_rows = 0
    try:
        cur.execute(sql, (vendor_name, vendor_id))
        # get the number of updated rows
        updated_rows = cur.rowcount
        # Commit the changes to the database
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    
    return updated_rows

In [36]:
def get_vendors(con,cur):
    """ query data from the vendors table """
    try:
        cur.execute("SELECT vendor_id, vendor_name FROM vendors ORDER BY vendor_name")
        print("The number of parts: ", cur.rowcount)
        row = cur.fetchone()
 
        while row is not None:
            print(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [39]:
cur.execute("select * from public.vendors")
cur.fetchall()

[(16, 'AKM Semiconductor Inc.'),
 (17, 'Asahi Glass Co Ltd.'),
 (18, 'Daikin Industries Ltd.'),
 (19, 'Dynacast International Inc.'),
 (20, 'Foster Electric Co. Ltd.'),
 (21, 'Murata Manufacturing Co. Ltd.'),
 (15, '3M Corp')]

In [40]:
def delete_part(part_id):
    """ delete part by part id """
    conn = None
    rows_deleted = 0
    try:
        # execute the UPDATE  statement
        cur.execute("DELETE FROM parts WHERE part_id = %s", (part_id,))
        # get the number of updated rows
        rows_deleted = cur.rowcount
        # Commit the changes to the database
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
 
    return rows_deleted